<nav class="nav">
    <h1>Smart Farming</h1>
    <div class="nav-search">
        <input type="text" placeholder="search for products" />
        <button>search</button>
    </div>
    <ul>
        <li><a routerLink="/crop">crop</a></li>
        <li><a href="#">equipment</a></li>
        <li><a href="#">Farmer</a></li>
        <li><a href="#">maintenance-log</a></li>
        <li><a href="#">package-info</a></li>
        <li><a href="#">pesticides</a></li>
        <li><a href="#">users</a></li>
        <li><a href="#">weather</a></li>
        
    </ul>
   
  
  </nav>
  
  